body {
    background-color: bisque;
    font-family: "Montserrat";
}

p {
    margin-left: 150px;
    margin-right: 150px;
}

.button {
    display: inline-block;
    color: navajowhite;
    font-weight: 600;
    background-color: darkgoldenrod;
    width: 300px;
    height: 25px;
    padding: 20px;
    text-decoration-line: none;
}

.button:hover {
    color: darkgoldenrod;
    background-color: navajowhite;
}

.login {
    width: 100px;
    height: 5px;
    position: fixed;
    top: 0;
    right: 0;
}

.back {
    width: 100px;
    height: 15px;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
}
